* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Lato, Helvetica, Arial, sans-serif;
}

button {
   cursor: pointer;
}

.container {
   max-width: 1150px;
   margin: 0 auto;
   height: 100%;
}

.wrapper {
   display: flex;
   flex-direction: column;
}

.main {
   height: 780px;
   background: url('../img/main-bg.jpg') center center / cover no-repeat;
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 70px;
}

.logo {
   font-size: 37px;
   color: #333;
   text-decoration: none;
}

.list {
   width: 15%;
   list-style-type: none;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.item {
   position: relative;
}

.item::after {
   content: '';
   position: absolute;
   bottom: -6px;
   left: 0;
   width: 0px;
   height: 2px;
   background: #333;
   transition: 0.3s all;
}

.item:hover::after {
   width: 100%;
}

.item a {
   color: #333;
   text-decoration: none;
}

.section-inner {
   margin-top: 100px;
}

.btn-purchase a {
   text-decoration: none;
   color: #333;
   border-radius: 50px;
   padding: 8px 18px;
   border: 1px solid #333;
   width: 30px;
}

h1 {
   font-size: 70px;
   font-weight: 500;
   margin-bottom: 25px;
}

.btn-blue {
   font-weight: bold;
   text-transform: uppercase;
   background-color: #751fff;
   border: 1px solid #751fff;
   color: #fff;
   font-size: 20px;
   border-width: 3px 3px 3px 3px;
   border-radius: 50px 50px 50px 50px;
   padding: 24px 45px 24px 45px;
   transition: 0.3s all;
   cursor: pointer;
}

.btn-blue:hover {
   background: transparent;
   color: #751fff;
}

.adv {
   padding: 30px 0;
}

.adv-container-upper {
   display: flex;
   column-gap: 30px;
   margin-bottom: 30px;
}

.upper-block {
   flex: 1;
   padding: 50px 50px;
   height: 400px;
}

.upper-block.left {
   background: url('../img/block_1.jpg') center center / cover no-repeat;
}

.upper-block.right {
   background: url('../img/block_2.jpg') center center / cover no-repeat;
}

.adv-upper-title {
   display: block;
   font-size: 20px;
   color: #fff;
   margin-bottom: 20px;
}

.adv-sub-title {
   font-size: 50px;
   font-weight: 700;
   color: #fff;
   margin-bottom: 40px;
}

.btn-white {
   font-weight: bold;
   text-transform: uppercase;
   background-color: #fff;
   border: 1px solid #fff;
   color: #333;
   font-size: 15px;
   border-width: 3px 3px 3px 3px;
   border-radius: 50px 50px 50px 50px;
   padding: 10px 45px 10px 45px;
   transition: 0.3s all;
   cursor: pointer;
}

.btn-white:hover {
   background: transparent;
   color: #fff;
}

.adv-container-footer {
   padding: 30px;
   background: #f6f6f6;
   border-radius: 30px;
   display: flex;
   justify-content: space-between;
}

.footer-block {
   flex: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   column-gap: 10px;
}

.block-text {
   color: #333;
}

.help {
   background: #000;
   height: 450px;
}

.help-container {
   display: flex;
   height: 100%;
}

.block-help {
   width: 50%;
}

.block-help h2,
p {
   color: #fff;
}

.block-help img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.block-help.left {
   padding-top: 150px;
}

.block-help h2 {
   font-size: 30px;
   font-weight: 700;
   margin-bottom: 20px;
}

.block-help p {
   font-size: 20px;
   margin-bottom: 15px;
}

.block-help .btn-blue {
   font-size: 15px;
   padding: 14px 35px 14px 35px;
}

footer {
   padding: 40px;
}

.footer-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: 1fr;
}

.block-footer {
   display: flex;
   justify-content: center;
}

.block-footer h3 {
   margin-bottom: 20px;
}

.block-footer ul {
   list-style-type: none;
}

.block-footer li {
   margin-bottom: 10px;
   cursor: pointer;
}

.block-footer li:hover {
   color: #751fff;
}

.copyright {
   border-top: 1px solid #333;
   margin-top: 10px;
   padding-top: 10px;
   text-align: center;
}
